In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12180 entries, 0 to 12179
Data columns (total 84 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   12180 non-null  float64
 1   int_rate                    12180 non-null  float64
 2   installment                 12180 non-null  float64
 3   home_ownership              12180 non-null  object
 4   annual_inc                  12180 non-null  float64
 5   verification_status         12180 non-null  object
 6   pymnt_plan                  12180 non-null  object
 7   dti                         12180 non-null  float64
 8   delinq_2yrs                 12180 non-null  float64
 9   inq_last_6mths              12180 non-null  float64
 10  open_acc                    12180 non-null  float64
 11  pub_rec                     12180 non-null  float64
 12  revol_bal                   12180 non-null  float64
 13  total_acc                   12180 non-null  float64
 14  initial_list_status         12180 non-null  object
 15  out_prncp                   12180 non-null  float64
 16  out_prncp_inv               12180 non-null  float64
 17  total_pymnt                 12180 non-null  float64
 18  total_pymnt_inv             12180 non-null  float64
 19  total_rec_prncp             12180 non-null  float64
 20  total_rec_int               12180 non-null  float64
 21  total_rec_late_fee          12180 non-null  float64
 22  recoveries                  12180 non-null  float64
 23  collection_recovery_fee     12180 non-null  float64
 24  last_pymnt_amnt             12180 non-null  float64
 25  collections_12_mths_ex_med  12180 non-null  float64
 26  policy_code                 12180 non-null  float64
 27  application_type            12180 non-null  object
 28  acc_now_delinq              12180 non-null  float64
 29  tot_coll_amt                12180 non-null  float64
 30  tot_cur_bal                 12180 non-null  float64
 31  open_acc_6m                 12180 non-null  float64
 32  open_act_il                 12180 non-null  float64
 33  open_il_12m                 12180 non-null  float64
 34  open_il_24m                 12180 non-null  float64
 35  mths_since_rcnt_il          12180 non-null  float64
 36  total_bal_il                12180 non-null  float64
 37  il_util                     12180 non-null  float64
 38  open_rv_12m                 12180 non-null  float64
 39  open_rv_24m                 12180 non-null  float64
 40  max_bal_bc                  12180 non-null  float64
 41  all_util                    12180 non-null  float64
 42  total_rev_hi_lim            12180 non-null  float64
 43  inq_fi                      12180 non-null  float64
 44  total_cu_tl                 12180 non-null  float64
 45  inq_last_12m                12180 non-null  float64
 46  acc_open_past_24mths        12180 non-null  float64
 47  avg_cur_bal                 12180 non-null  float64
 48  bc_open_to_buy              12180 non-null  float64
 49  bc_util                     12180 non-null  float64
 50  chargeoff_within_12_mths    12180 non-null  float64
 51  delinq_amnt                 12180 non-null  float64
 52  mo_sin_old_il_acct          12180 non-null  float64
 53  mo_sin_old_rev_tl_op        12180 non-null  float64
 54  mo_sin_rcnt_rev_tl_op       12180 non-null  float64
 55  mo_sin_rcnt_tl              12180 non-null  float64
 56  mort_acc                    12180 non-null  float64
 57  mths_since_recent_bc        12180 non-null  float64
 58  mths_since_recent_inq       12180 non-null  float64
 59  num_accts_ever_120_pd       12180 non-null  float64
 60  num_actv_bc_tl              12180 non-null  float64
 61  num_actv_rev_tl             12180 non-null  float64
 62  num_bc_sats                 12180 non-null  float64
 63  num_bc_tl                   12180 non-null  float64
 64  num_il_tl                   12180 non-null  float64
 65  num_op_rev_tl               12180 non-null  float64
 66  num_rev_accts               12180 non-null  float64
 67  num_rev_tl_bal_gt_0         12180 non-null  float64
 68  num_sats                    12180 non-null  float64
 69  num_tl_120dpd_2m            12180 non-null  float64
 70  num_tl_30dpd                12180 non-null  float64
 71  num_tl_90g_dpd_24m          12180 non-null  float64
 72  num_tl_op_past_12m          12180 non-null  float64
 73  pct_tl_nvr_dlq              12180 non-null  float64
 74  percent_bc_gt_75            12180 non-null  float64
 75  pub_rec_bankruptcies        12180 non-null  float64
 76  tax_liens                   12180 non-null  float64
 77  tot_hi_cred_lim             12180 non-null  float64
 78  total_bal_ex_mort           12180 non-null  float64
 79  total_bc_limit              12180 non-null  float64
 80  total_il_high_credit_limit  12180 non-null  float64
 81  hardship_flag               12180 non-null  object
 82  debt_settlement_flag        12180 non-null  object
 83  target                      12180 non-null  object
dtypes: float64(76), object(8)
memory usage: 7.8+ MB

In [4]:
train_df.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,12180.000000,12180.000000,12180.000000,1.218000e+04,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,...,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,12180.0,1.218000e+04,12180.000000,12180.000000,1.218000e+04
mean,17296.672824,0.141039,505.758204,8.818301e+04,22.782614,0.249589,0.565928,12.639737,0.113300,17488.418966,...,0.058867,2.343432,94.640681,33.397685,0.113300,0.0,1.981758e+05,62760.313875,27957.233169,5.682934e+04
std,10208.296576,0.052590,293.253172,1.257604e+05,25.305738,0.776071,0.815326,6.044768,0.325156,22978.078793,...,0.361183,1.971186,8.751850,34.196938,0.325156,0.0,1.909844e+05,60404.203430,25467.534580,5.397771e+04
min,1000.000000,0.060000,30.890000,5.000000e+02,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.0,3.300000e+03,960.000000,200.000000,4.860000e+02
25%,10000.000000,0.103300,285.410000,5.000000e+04,14.340000,0.000000,0.000000,8.000000,0.000000,6235.500000,...,0.000000,1.000000,92.300000,0.000000,0.000000,0.0,6.206475e+04,26880.750000,10800.000000,2.305450e+04
50%,15000.000000,0.130800,437.685000,7.300000e+04,20.450000,0.000000,0.000000,11.000000,0.000000,12022.500000,...,0.000000,2.000000,100.000000,25.000000,0.000000,0.0,1.282625e+05,45830.500000,20700.000000,4.257600e+04
75%,24000.000000,0.177400,673.420000,1.020000e+05,27.270000,0.000000,1.000000,16.000000,0.000000,21204.500000,...,0.000000,3.000000,100.000000,57.100000,0.000000,0.0,2.854192e+05,78041.250000,36300.000000,7.345450e+04
max,40000.000000,0.289700,1671.880000,9.500000e+06,999.000000,14.000000,5.000000,65.000000,4.000000,517103.000000,...,11.000000,20.000000,100.000000,100.000000,4.000000,0.0,3.129332e+06,917986.000000,284800.000000,1.319104e+06

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4702 entries, 0 to 4701
Data columns (total 84 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   4702 non-null   float64
 1   int_rate                    4702 non-null   float64
 2   installment                 4702 non-null   float64
 3   home_ownership              4702 non-null   object
 4   annual_inc                  4702 non-null   float64
 5   verification_status         4702 non-null   object
 6   pymnt_plan                  4702 non-null   object
 7   dti                         4702 non-null   float64
 8   delinq_2yrs                 4702 non-null   float64
 9   inq_last_6mths              4702 non-null   float64
 10  open_acc                    4702 non-null   float64
 11  pub_rec                     4702 non-null   float64
 12  revol_bal                   4702 non-null   float64
 13  total_acc                   4702 non-null   float64
 14  initial_list_status         4702 non-null   object
 15  out_prncp                   4702 non-null   float64
 16  out_prncp_inv               4702 non-null   float64
 17  total_pymnt                 4702 non-null   float64
 18  total_pymnt_inv             4702 non-null   float64
 19  total_rec_prncp             4702 non-null   float64
 20  total_rec_int               4702 non-null   float64
 21  total_rec_late_fee          4702 non-null   float64
 22  recoveries                  4702 non-null   float64
 23  collection_recovery_fee     4702 non-null   float64
 24  last_pymnt_amnt             4702 non-null   float64
 25  collections_12_mths_ex_med  4702 non-null   float64
 26  policy_code                 4702 non-null   float64
 27  application_type            4702 non-null   object
 28  acc_now_delinq              4702 non-null   float64
 29  tot_coll_amt                4702 non-null   float64
 30  tot_cur_bal                 4702 non-null   float64
 31  open_acc_6m                 4702 non-null   float64
 32  open_act_il                 4702 non-null   float64
 33  open_il_12m                 4702 non-null   float64
 34  open_il_24m                 4702 non-null   float64
 35  mths_since_rcnt_il          4702 non-null   float64
 36  total_bal_il                4702 non-null   float64
 37  il_util                     4702 non-null   float64
 38  open_rv_12m                 4702 non-null   float64
 39  open_rv_24m                 4702 non-null   float64
 40  max_bal_bc                  4702 non-null   float64
 41  all_util                    4702 non-null   float64
 42  total_rev_hi_lim            4702 non-null   float64
 43  inq_fi                      4702 non-null   float64
 44  total_cu_tl                 4702 non-null   float64
 45  inq_last_12m                4702 non-null   float64
 46  acc_open_past_24mths        4702 non-null   float64
 47  avg_cur_bal                 4702 non-null   float64
 48  bc_open_to_buy              4702 non-null   float64
 49  bc_util                     4702 non-null   float64
 50  chargeoff_within_12_mths    4702 non-null   float64
 51  delinq_amnt                 4702 non-null   float64
 52  mo_sin_old_il_acct          4702 non-null   float64
 53  mo_sin_old_rev_tl_op        4702 non-null   float64
 54  mo_sin_rcnt_rev_tl_op       4702 non-null   float64
 55  mo_sin_rcnt_tl              4702 non-null   float64
 56  mort_acc                    4702 non-null   float64
 57  mths_since_recent_bc        4702 non-null   float64
 58  mths_since_recent_inq       4702 non-null   float64
 59  num_accts_ever_120_pd       4702 non-null   float64
 60  num_actv_bc_tl              4702 non-null   float64
 61  num_actv_rev_tl             4702 non-null   float64
 62  num_bc_sats                 4702 non-null   float64
 63  num_bc_tl                   4702 non-null   float64
 64  num_il_tl                   4702 non-null   float64
 65  num_op_rev_tl               4702 non-null   float64
 66  num_rev_accts               4702 non-null   float64
 67  num_rev_tl_bal_gt_0         4702 non-null   float64
 68  num_sats                    4702 non-null   float64
 69  num_tl_120dpd_2m            4702 non-null   float64
 70  num_tl_30dpd                4702 non-null   float64
 71  num_tl_90g_dpd_24m          4702 non-null   float64
 72  num_tl_op_past_12m          4702 non-null   float64
 73  pct_tl_nvr_dlq              4702 non-null   float64
 74  percent_bc_gt_75            4702 non-null   float64
 75  pub_rec_bankruptcies        4702 non-null   float64
 76  tax_liens                   4702 non-null   float64
 77  tot_hi_cred_lim             4702 non-null   float64
 78  total_bal_ex_mort           4702 non-null   float64
 79  total_bc_limit              4702 non-null   float64
 80  total_il_high_credit_limit  4702 non-null   float64
 81  hardship_flag               4702 non-null   object
 82  debt_settlement_flag        4702 non-null   object
 83  target                      4702 non-null   object
dtypes: float64(76), object(8)
memory usage: 3.0+ MB

In [6]:
test_df.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,4702.000000,4702.000000,4702.000000,4.702000e+03,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,...,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,4702.0,4.702000e+03,4702.000000,4702.000000,4702.000000
mean,16959.410889,0.148018,504.334028,8.986294e+04,23.033847,0.207571,0.686729,12.729902,0.108039,18313.320927,...,0.057848,2.561038,95.053998,32.822671,0.107826,0.0,1.979880e+05,63715.605487,30728.753722,56833.438537
std,10155.556866,0.058096,295.725642,1.253781e+05,21.336240,0.668909,0.897366,6.090486,0.314547,22514.741749,...,0.351332,2.040537,8.283599,33.108024,0.314282,0.0,1.884958e+05,56956.321680,28254.276304,50636.661039
min,1000.000000,0.064600,31.430000,1.000000e+02,0.260000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,27.300000,0.000000,0.000000,0.0,3.000000e+03,1408.000000,300.000000,526.000000
25%,9062.500000,0.103300,279.130000,5.200000e+04,14.800000,0.000000,0.000000,8.000000,0.000000,6658.250000,...,0.000000,1.000000,92.900000,0.000000,0.000000,0.0,6.255800e+04,28043.000000,11500.000000,23648.750000
50%,15000.000000,0.143000,446.010000,7.500000e+04,21.205000,0.000000,0.000000,12.000000,0.000000,12636.000000,...,0.000000,2.000000,100.000000,25.000000,0.000000,0.0,1.288180e+05,48205.000000,22800.000000,43881.500000
75%,24000.000000,0.186200,689.387500,1.050000e+05,28.220000,0.000000,1.000000,16.000000,0.000000,22439.000000,...,0.000000,4.000000,100.000000,50.000000,0.000000,0.0,2.855775e+05,80131.500000,41175.000000,74320.750000
max,40000.000000,0.288000,1604.180000,6.503700e+06,999.000000,9.000000,5.000000,57.000000,2.000000,512728.000000,...,9.000000,14.000000,100.000000,100.000000,2.000000,0.0,2.450518e+06,670055.000000,307200.000000,618528.000000

In [7]:
train_df['target'].value_counts()

low_risk     6090
high_risk    6090
Name: target, dtype: int64

In [8]:
test_df['target'].value_counts()

low_risk     2351
high_risk    2351
Name: target, dtype: int64

In [9]:
# Convert categorical data to numeric and separate target feature for training data
X_train = train_df.drop('target', axis=1)
X_train = pd.get_dummies(X_train)
X_train.head(10)
#92 columns

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,7000.0,0.1894,256.38,75000.0,28.62,0.0,2.0,20.0,0.0,40414.0,...,0,1,1,0,1,0,1,0,1,0
1,40000.0,0.1614,975.71,102000.0,11.72,2.0,0.0,10.0,0.0,43531.0,...,0,1,0,1,1,0,1,0,1,0
2,11000.0,0.2055,294.81,45000.0,37.25,1.0,3.0,23.0,0.0,8242.0,...,1,1,0,1,1,0,1,0,1,0
3,4000.0,0.1612,140.87,38000.0,42.89,1.0,0.0,7.0,0.0,12767.0,...,0,1,0,1,0,1,1,0,1,0
4,14000.0,0.1797,505.93,43000.0,22.16,1.0,0.0,22.0,0.0,11182.0,...,0,1,0,1,1,0,1,0,1,0
5,6000.0,0.0756,186.81,90500.0,23.48,0.0,0.0,9.0,0.0,7092.0,...,0,1,0,1,1,0,1,0,1,0
6,10500.0,0.2250,293.00,32000.0,16.09,0.0,1.0,10.0,0.0,2269.0,...,1,1,0,1,1,0,1,0,1,0
7,22000.0,0.0819,448.09,92000.0,22.87,0.0,0.0,17.0,0.0,26020.0,...,0,1,0,1,1,0,1,0,1,0
8,10625.0,0.2055,284.76,54100.0,15.53,0.0,2.0,8.0,0.0,9371.0,...,0,1,0,1,0,1,1,0,1,0
9,20000.0,0.2534,591.02,38000.0,19.68,0.0,0.0,4.0,0.0,20770.0,...,0,1,0,1,1,0,1,0,1,0

In [10]:
y_train = train_df['target']
y_train.head()

0    low_risk
1    low_risk
2    low_risk
3    low_risk
4    low_risk
Name: target, dtype: object

In [11]:
# Convert categorical data to numeric and separate target feature for testing data

X_test = test_df.drop('target', axis=1)
X_test = pd.get_dummies(X_test)
y_test = test_df['target'] 

X_test.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Source Verified,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,1,0,1,0,1,1,0,0,1,1
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,0,0,1,0,1,1,0,1,0,1
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,0,0,1,0,1,1,0,0,1,1
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,0,1,1,0,1,1,0,1,0,1
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,1,0,1,0,1,1,0,1,0,1

In [12]:
# Get missing columns in the training test
missing_cols = set(X_train.columns ) - set(X_test.columns )

# Add a missing column in test set with default value equal to 0
for c in missing_cols:
    X_test[c] = 0

# Ensure the order of column in the test set is in the same order than in train set
test = X_test[X_train.columns]

# Prediction 

## Random Forest will perform better than logistic regression because RF tends to be robust against overfitting and outliers.

In [13]:
# Train the Logistic Regression model on the unscaled data and print the model score
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, random_state=1)

In [14]:
model = LogisticRegression(tol=1e-1,max_iter=10000, solver='lbfgs')
model

LogisticRegression(max_iter=10000, tol=0.1)

In [15]:
model.fit(X_train, y_train)
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.6981937602627257
Testing Data Score: 0.7037766830870279

In [16]:
# Train a Random Forest Classifier model and print the model score
randomF_model = RandomForestClassifier(random_state=1, n_estimators=1000).fit(X_train, y_train)
print(f'Training Score: {randomF_model.score(X_train, y_train)}')
print(f'Testing Score: {randomF_model.score(X_test, y_test)}')

Training Score: 1.0
Testing Score: 0.7825944170771757

In [17]:
# Scale the data and fit the trained data 
X_scaler = StandardScaler().fit(X_train)

In [18]:
#scale X_train data 
X_train_scaled = X_scaler.transform(X_train)
X_train_scaled

array([[-1.21025177,  0.42766313, -1.12546751, ..., -0.16284911,
         0.01812499, -0.01812499],
       [-0.22388831, -1.35596931, -0.14514751, ..., -0.16284911,
         0.01812499, -0.01812499],
       [-1.21025177,  0.68246776, -1.11403979, ..., -0.16284911,
         0.01812499, -0.01812499],
       ...,
       [-0.04634289, -1.46245483,  0.03037397, ..., -0.16284911,
         0.01812499, -0.01812499],
       [-0.22388831,  0.68246776,  0.11844265, ..., -0.16284911,
         0.01812499, -0.01812499],
       [-0.65542232,  1.21679688, -0.75601702, ..., -0.16284911,
         0.01812499, -0.01812499]])

In [19]:
#Scale X_test data 
X_test_scaled = X_scaler.transform(X_test)
X_test_scaled

array([[ 0.26929342,  1.11221289,  0.08265406, ..., -0.16284911,
         0.01812499, -0.01812499],
       [ 0.76247515,  0.37442037,  0.35524269, ..., -0.16284911,
         0.01812499, -0.01812499],
       [-0.63816096,  2.78555676, -0.18582881, ..., -0.16284911,
         0.01812499, -0.01812499],
       ...,
       [-0.51979735,  2.78555676, -0.0142078 , ..., -0.16284911,
         0.01812499, -0.01812499],
       [ 0.26929342,  2.78555676,  1.1298296 , ..., -0.16284911,
         0.01812499, -0.01812499],
       [-0.71707004,  0.68246776, -0.49779857, ..., -0.16284911,
         0.01812499, -0.01812499]])

In [20]:
#Train the Logistic Regression model on the scaled data and print the model score
model_scaled = LogisticRegression(tol=1e-1,max_iter=1000, solver='lbfgs')
model_scaled.fit(X_train_scaled, y_train)
print(f"Training Data Score: {model_scaled.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model_scaled.score(X_test_scaled, y_test)}")

Training Data Score: 0.7082649151614668
Testing Data Score: 0.7205254515599343

In [21]:
# Train a Random Forest Classifier model and print the model score
randomF_model_scaled = RandomForestClassifier(random_state=1, n_estimators=1000).fit(X_train_scaled, y_train)
print(f'Training Score: {randomF_model_scaled.score(X_train_scaled, y_train)}')
print(f'Testing Score: {randomF_model_scaled.score(X_test_scaled, y_test)}')

Training Score: 1.0
Testing Score: 0.7832512315270936

# Results/Conclusion: 

# RF with Scaled Data peformed best. This was in line with my prediction. # Scaling the data just made the model slightly more accurate. 


## LR: performed better with scaled data 
## RF: performed better with scaled data 





### Non-Scaled LR: 
##### Training Data Score: 0.6981937602627257
##### Testing Data Score: 0.7037766830870279

### Non-Scaled RF : 
##### Training Score: 1.0
##### Testing Score: 0.7825944170771757